<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
        
<mapper namespace="toto.dao.SoccerDao">
	<select id="getSoccerList" resultType="soccer" parameterType="soccer">
	SELECT *
	FROM soccer
	</select>

	<update id="updateSoccer" parameterType="soccer">					
		update soccer
			set gresult = #{gresult}	
		where snum = #{snum}
	</update>


</mapper>