@charset "UTF-8";

.articleArea{  position: relative;width: 1080px;margin:10px auto 80px;}
.articleArea:after{ content: "";display: block;clear: both;  }
#asideRight { position: absolute;right:0;}
#asideLeft.hide, #asideRight.hide{  display: none; }
#content {float:left;width: 810px;}
#content:focus{border:1px dotted #000;}
#content.wide { width: 1080px  }
.articleArea.guide{width: 1400px}
.articleArea.guide #content {width: 1400px}

.contents{padding: 0px 19px 50px;background: #fff;border: 1px solid #ccd0d5;min-height: 770px;}
.contents.wide{width:1080px;} /* 회원가입 */
.contents.wide .contInner{ margin: 0 auto;width: 770px;}
.contents.game { padding: 0px;border-width: 0px;background: transparent; }
.contents.game .contInner{padding:0 19px 0px;background: #fff;border: 1px solid #ccd0d5;}
.contents.game .contInner + .contInner, .gameMainArea + .contInner {margin-top:10px;} 
.contents.game .contInner.box {  padding:0px 19px 50px; }
.contents.game .contInner.box .tbl.noBdtb{border-top-width:1px; border-bottom-width:1px;}
.contents.game .contInner.box .tbl.noBdtb > thead + tbody > tr:first-child > td{border-top-width:1px;}


.contents.game .tabList.ui-tabs.game .main > .contInner:first-child{ border-top-width: 0  }

.contents.main{width: 810px;margin: 0 auto;padding:0;border:0px;background: transparent;} /*main 화면 , 게임구매  */

.contents > .guideBox.page,
.contInner > .guideBox.page,
.guideBox.page.unmg {margin-left: -19px;margin-right: -19px;margin-bottom: -50px;}
.contents .contInner > .setBar:first-child,
.contents .contInner > h4.blind + .setBar {  padding-top: 30px }





